<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:mvc="http://www.springframework.org/schema/mvc"
	   xmlns:util="http://www.springframework.org/schema/util"
	   xmlns:aop="http://www.springframework.org/schema/aop"
	   xmlns:task="http://www.springframework.org/schema/task"
	   xmlns:tx="http://www.springframework.org/schema/tx"
	   xmlns:p="http://www.springframework.org/schema/p"
	   xsi:schemaLocation="http://www.springframework.org/schema/mvc
	http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context-4.0.xsd


        http://www.springframework.org/schema/util
        http://www.springframework.org/schema/util/spring-util.xsd 
        http://www.springframework.org/schema/aop 
        http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/task
    	http://www.springframework.org/schema/task/spring-task-4.0.xsd
    	http://www.springframework.org/schema/tx 
		http://www.springframework.org/schema/tx/spring-tx.xsd">

   	<!-- 启用Spring注解 -->
	<context:annotation-config/>
	<context:component-scan base-package="com.ant">
		<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller" />
	</context:component-scan>
  	<task:annotation-driven />

	<!-- 加载数据配置文件properties -->
 	<bean id="propertyConfigurer" class="com.ant.util.EncryptPropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:jdbc.properties</value>
            </list>
        </property>
    </bean>

    <!-- 配置数据源 -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
	    <property name="driverClass" value="${driverclass}"/>
	    <property name="jdbcUrl" value="${url}"/>
	    <property name="user" value="${username}"/>
	    <property name="password" value="${password}"/>
	    <property name="minPoolSize" value="1" />
		<property name="maxPoolSize" value="300" />
		<property name="maxIdleTime" value="60" />
		<property name="acquireIncrement" value="5" />
		<property name="initialPoolSize" value="1" />
		<property name="idleConnectionTestPeriod" value="60" />
	</bean>

	<!-- 
	 -->
	<bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource"></property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">
					org.hibernate.dialect.MySQLDialect
				</prop>
				<!-- 显示SQL语句 -->
				<prop key="hibernate.show_sql">false</prop>
				<!-- 格式化SQL语句 -->
                <prop key="hibernate.format_sql">false</prop>
				<!-- 自动建表 -->
                <prop key="hibernate.hbm2ddl.auto">update</prop>
			</props>
		</property>
		<!-- 必须配置好此项，否则报 org.hibernate.MappingException: Unknown entity,集成Hibernate -->
		<property name="packagesToScan" value="com.ant" />
	</bean>

    <bean id="transactionManager"
        class="org.springframework.orm.hibernate4.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>

	<!-- 第二种配置事务的方式 ，代理-->
	<bean id="transactionProxy"
	    class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean"    abstract="true">
	    <property name="transactionManager" ref="transactionManager"></property>
	    <property name="transactionAttributes">
	        <props>
	            <prop key="add*">PROPAGATION_REQUIRED, -Exception</prop>
	            <prop key="create*">PROPAGATION_REQUIRED, -Exception</prop>
	            <prop key="update*">PROPAGATION_REQUIRED, -Exception</prop>
	            <prop key="remove*">PROPAGATION_REQUIRED, -Exception</prop>
	            <prop key="del*">PROPAGATION_REQUIRED, -Exception</prop>
	            <prop key="*">PROPAGATION_REQUIRED, -Exception</prop>
	        </props>
	    </property>
	</bean>

	<bean id="userDao" parent="transactionProxy">
	    <property name="target">
	        <!-- 用bean代替ref的方式-->
	        <bean class="com.ant.dao.impl.BaseDaoImpl">
	            <property name="sessionFactory" ref="sessionFactory"></property>
	        </bean>
	    </property>
	</bean>

   <!--启动注解用注解来管理事务 -->
   <tx:annotation-driven transaction-manager="transactionManager" />
</beans>